/* Base */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #f5f6f7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

.body--lato {
    font-family: 'Lato', sans-serif;
}

.body--lato a {
    color: black;
}

.body--lato .b-footer a {
    color: #c96207;
}

.body--lato a:hover {
    color: #960677;
}

a {
    color: #c96207;
    font-weight: 700
}

h2 {
    border-bottom: 3px solid #c96207;
    padding-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
}

.b-title--highlighted {
    border-bottom: 3px solid #960677;
}

/* Events */
.b-event--list-item {
    box-shadow: 0 0 2rem rgba(0, 0, 255, .1);
    overflow: hidden;
}

.b-event__title-link {
    color: black;
    margin-bottom: 35px;
    display: block;
}

.b-event__subtitle {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.b-event__title-link:hover {
    color: #960677;
}

.b-event__description {
    color: gray;
    margin-bottom: 1em;
    font-size: 0.8rem;
}

/* Products */
.b-product--list-item {
    transition: all .3s ease-in-out;
    box-shadow: 0 0 2rem rgba(0, 0, 255, .1);
    border-radius: 1rem;
    overflow: hidden;
}

.b-product--list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.b-product__title-link {
    color: black;
}

.b-product__title-link:hover {
    color: #c96207;
}

.b-product__description {
    color: gray;
    margin-bottom: 1em;
    font-size: 0.8rem;
}

.b-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #111;
    color: white;
    padding: 140px 0;
}

.b-footer--events {
    padding: 40px 0;
}

/* Utils */
.margin-top-sm {
    margin-top: 20px
}

.margin-bottom-sm {
    margin-bottom: 20px
}

.padding-top-sm {
    padding-top: 20px
}

.padding-bottom-sm {
    padding-bottom: 20px
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive */
@media (max-width: 991px) {
    .b-content {
        margin: 20px;
    }

    .b-footer {
        padding: 140px 20px;
    }
}